body{
    background: url(../img/door.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login{
    margin-top: 30;
}
.textbox{
    border-radius: 25px;
    border: 4px #ffffff !important;
    background: rgb(44, 44, 44);
}

