* {
    text-decoration: none;
    font-family: Roboto, sans-serif;
}
body {
    background: rgb(56, 56, 56);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

.mynavbar{
    background-color: rgb(54, 118, 191) !important;
    color: rgb(255, 255, 255);
}

#signin-dropdown{
    background-color: #FFC300;
    transition: 200ms;
}

#signin-dropdown:hover{
    background-color: rgba(255, 196, 0, 0.5);
    transition: 200ms;
}

input[type=button]{
    color: white;
    border: 10px;
    border-color: white; 
    background-color: #FFC300;   
}

input[type=button]:hover{ 
    background-color: rgba(255, 196, 0, 0.5);   
}

#pin-label{
    font-size: 40; 
}

#join{
    margin: 20;
}

.signin-btn:hover{
    background-color: 122,122,122,20;
}

.dropdown-signin{
    width: 250;
    height: 200;
    padding: 5%;
}
/*Drop-down animation*/
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.drop-down-element {
    transition: 0.4s;
}

.drop-down-element:hover {
    background-color: rgb(50,50,50);
    color: white;
    transform: scaleX(1.3) scaleY(1.3) scaleZ(1.3);
}



.inactive-card{
    color: rgba(255, 255, 255, 0.1) ;
    background-image: radial-gradient(
        circle farthest-corner,
        rgb(219, 219, 219),
        rgb(65, 65, 65)
    ) !important;
    border-radius: 30px;
    width: 300;
    height: 400;
}



.card{
    margin: 0 0 0 0;
    color: rgba(255, 255, 255, 0.2) ;
    background-color: gray;
    background-image: radial-gradient(
        circle farthest-corner,
        #3E98FF,
        #2F5785
    );
    border-radius: 30px;
    width: 300;
    height: 400;
    transition: 200ms;

}


.card:hover{
    color:rgba(255, 255, 255, 0.85) !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.6) !important;
    transition: 200ms;
    transform: scale(1.2,1.2);
    
}

.maintext{
    color:rgba(255, 255, 255, 1) !important;
    font-size: 34;
}

.description{
    font-size: 11;
}

.card-text{
    color:black !important;
}

.card-logo{
    color: white;
    margin: 50 20 0 20;
    font-size: 200;
  
}

#coming-soon{
    position: fixed;
    top: -50px;
    color: white;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 0 10 10 black;
    transform: rotate(-45deg);
}

hr{
    display: block;
    height: 1px;
    border: 0; border-top: 1px solid rgba(255, 255, 255, 0.658);
    margin: 0;
    padding: 0; 
}

p{
    margin: 5px;
    font-size: 20;
}

#st1{
   font-size: 30; 
}

.scoreboard{
    min-width: 300px;
}