.question-base{
    background-color: #1D4978;
    border-radius: 30px;
    width: 100%;
    height: 650;
   
}

.question{
    margin: 15px;
    font-size: 27;
}

.answer{
    background-color: #FFC300;
    transition: 200ms;
}

.answer:hover{
    background-color: rgba(255, 196, 0, 0.5);
    transition: 200ms;
}

.answer-good{
    background-color: #22FF00 !important;
}

.answer-bad{
    background-color: red !important;
}
.answer-marked{
    background-color: #469CFF !important;
}

.answer, .answer-bad, .answer-good, .answer-marked{
    margin : 20px;
    height: 70px;
    width: 90%;
    font-size: 30;
    border: 5px solid black;
    border-radius: 50px;
    cursor:pointer;
}



.timer {
    height: 1%;
    width: 0%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #FFC200;
    z-index: 10;
  }