    </body>
    <footer>
            <script>
                var timeLeft = 15;
                var elem = document.getElementById('time-remaining');
                var timerId = setInterval(countdown, 1000);

                function countdown() {
                    if (timeLeft == -1) {
                        clearTimeout(timerId);
                        doSomething();
                    } else {
                        elem.innerHTML = timeLeft ;
                        timeLeft--;
                    }
                }
                function doSomething() {
                    alert("Hi");
                }
            </script>
    </footer>
</html>