{include file="head.tpl"}
    <br>
    <body>
        <div class="container">
            <div class="row">
                <div class="mx-1"></div>
                <div class="mx-lg-auto">
                    <div class="question-base  text-center align-items-center justify-content-center">
                        <form class="table" action="">
                            <div class="row scoreboard">
                                <div class="col" >
                                    <img src="{$base_url}img/loading.svg" style="margin: 150px;" alt="">
                                    <p>Searching for game...</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="mx-1"></div>
            </div>
        </div>
{include file="footer.tpl"}